.circle {
  border: 7px solid white;
  border-radius: 20px 20px 20px 20px;
  padding: 20px;
  border-color: rgb(71, 11, 128);
  box-shadow: 5px 5px 5px black;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.3) ;
}

@media only screen and (min-width: 1300px) and (min-height: 800px) {
  .footer-div {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}