body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/background.jpg') fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component-div{
  margin-top: 92px;
}

.error-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

@media only screen and (max-width: 479px){
  .component-div{
    margin-top: 60px;
  }
}

.shadow-flag {
  box-shadow: 3px 3px 6px #AAAAAA;
}