body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #4568dc, #b06ab3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component-div{
  margin-top: 95px;
}

@media only screen and (max-width: 479px){
  .component-div{
    margin-top: 80px;
  }
}

.circle {
  border: 7px solid white;
  border-radius: 50%;
  padding: 20px;
  border-color: rgb(71, 11, 128);
  box-shadow: 3px 3px 3px black;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.3) ;
}